body {
  font-family: 'just another hand';
}

/* APP CSS START */

.container-main {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  background-color: #71ef8b;
  margin-left: 10px;
  margin-right: 10px;
}

.weather-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #71ef8b;
}

.content-main {
  background-color: #71ef8b;
}

/* APP CSS END */
/* FOOTER CSS START */

.grass-background-1 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.grass-background-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.grass-background-div {
  padding-bottom: 100px;
}

/* FOOTER CSS END */
/* HEADER CSS START */

.header-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 50px;
}

/* HEADER CSS END */
/* LANDER CSS START */

.lander-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lander-menu {
  font-size: 70px;
  color: #29923e;
}

.lander-menu-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.lander-menu:hover {
  color: white;
}

/* LANDER CSS END */
/* LOGIN CSS START */

.login-signup-forms {
  font-family: "zilla slab";
  font-size: 40px;
  color: #29923e;
}

/*  LOGIN CSS END */
/* NAVBAR CSS START */

.nav-bar-container {
  display: flex;
  flex-direction: column;
  background-color: #71ef8b;
  align-items: center;
}

.nav-bar-logout {
  /* background: url("https://res.cloudinary.com/april-skrine/image/upload/v1649444942/birdie.bogey/logout3_mstyj7.jpg");
  background-repeat: no-repeat; */
  width: 150px;
  height: 75px;
  text-align: center;
  font-size: 60px;
  color: #29923e;
  margin-top: 30px;
}

.nav-bar-logout:hover {
  color: white;
}

.nav-bar-golf-balls {
  background-image: url("https://res.cloudinary.com/april-skrine/image/upload/v1649173862/birdie.bogey/golfballmenu-removebg-preview_ovqmcp.png");
  width: 200px;
  height: 200px;
}

.nav-bar-link {
  text-align: center;
  font-size: 40px;
  color: black;
}

.nav-bar-link:hover {
  color: #29923e;
}

/* NAVBAR CSS END */
/* SCORECARD CSS START */

.scores-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.scores-container {
  padding: 2px 16px;
  margin: 10px;
}

.scores-card {
  max-width: 250px;
  display: flex;
  flex-direction: column;
  border: 2px #29923e solid;
  margin: 20px;
  font-family: 'zilla slab';
}

.scores-header {
  max-height:100px;
  background: #29923e;
  color: white;
  font-family: 'zilla slab';
  font-size: 20px;
  text-align: center;
}

hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* SCORECARD CSS END */
/* SCRATCHPAD CSS START */

.table-scroll {
  width: 560px;
  height: 400px;
  overflow-y: auto;
}

td,tr,th {
  border: 4px solid white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
table {
  border-collapse: collapse;
}
td,
th {
  min-width: 50px;
  height: 21px;
}
span {
  width: 100%;
  display: block;
}

/* SCRATCHPAD CSS END */
/*  SIGNUP CSS START */

.login-signup-forms {
  display: flex;
  flex-direction: column;
}

.input {
  display: block;
  font-size: 11px;
  padding: 4px 2px;
  border: solid 1px #71ef8b;
  width: 70px;
  margin: 2px 0 20px 10px;
}

/* SIGNUP CSS END */
/* TEE TIMES CSS START */

.tee-time-flex {
  display: flex;
  flex-direction: row;
}

.tee-button {
  border: 2px solid white;
  background-color: #29923e;
  color: white;
  font-family: 'zilla slab'
}

.tee-button:hover {
  border: 2px solid #29923e;
  background-color: white;
  color: #29923e;
}

.tee-times-posts {
  background-image: url("https://res.cloudinary.com/april-skrine/image/upload/v1649779048/birdie.bogey/teetimes3_zttjpt.jpg");
  background-repeat: no-repeat;
  width: 600px;
  height: 700px;
}

.tee-times-inner-posts {
  margin-top: 80px;
  margin-left: 40px;
  width: 420px;
  height: 600px;
  overflow-y: auto;
  font-family: "zilla slab";
  font-size: 30px;
}

.tee-card {
  font-family: "zilla slab";
  font-size: 20px;
  line-height: 5px;
}

/* TEE TIMES CSS END */
/* WEATHER CSS START */

.weather {
  background-image: url("https://res.cloudinary.com/april-skrine/image/upload/v1649175411/birdie.bogey/weathersun-removebg-preview_hs4bzr.png");
  background-repeat: no-repeat;
  width: 350px;
  height: 550px;
  font-size: 40px;
  /* margin-top: -400px;
  align-items: center;
  align-content: center; */
}

.weather-forecast-paragraph {
  text-align: center;
  line-height: 0px;
}

.weather-paragraph-2 {
  text-align: center;
  vertical-align: center;
  line-height: 50px;
  margin-top: 130px;
}

.button-weather {
  background-color: #fbd884;
  border: none;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-family: "zilla slab";
  font-size: 15px;
}

/* WEATHER CSS END */

.form-style-4 {
  width: 450px;
  font-size: 16px;
  background: white;
  padding: 30px 30px 15px 30px;
  border: 5px solid #29923e;
}
.form-style-4 input[type="submit"],
.form-style-4 input[type="button"],
.form-style-4 input[type="text"],
.form-style-4 input[type="email"],
.form-style-4 input[type="password"],
.form-style-4 textarea,
.form-style-4 label {
  font-family: "zilla slab";
  font-size: 20px;
  color: black;
}
.form-style-4 label {
  display: block;
  margin-bottom: 10px;
}
.form-style-4 label > span {
  display: inline-block;
  width: 150px;
}
.form-style-4 input[type="text"],
.form-style-4 input[type="email"],
.form-style-4 input[type="password"] {
  background: transparent;
  border: none;
  border-bottom: 1px dashed #71ef8b;
  width: 275px;
  outline: none;
  padding: 0px 0px 0px 0px;
  font-style: italic;
  margin-bottom: 10px;
}
.form-style-4 textarea {
  font-style: italic;
  padding: 0px 0px 0px 0px;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px dashed #71ef8b;
  width: 275px;
  overflow: hidden;
  resize: none;
  height: 20px;
}

.form-style-4 textarea:focus,
.form-style-4 input[type="text"]:focus,
.form-style-4 input[type="email"]:focus,
.form-style-4 input[type="email"] :focus,
.form-style-4 input[type="password"] :focus {
  border-bottom: 1px dashed #29923e;
}

.form-style-4 input[type="submit"],
.form-style-4 input[type="button"] {
  background: #29923e;
  border: none;
  padding: 8px 10px 8px 10px;
  border-radius: 5px;
  color: white;
}
.form-style-4 input[type="submit"]:hover,
.form-style-4 input[type="button"]:hover {
  background: #71ef8b;
}
